@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  padding: 30px;
  max-width: 1247px;
  margin: 0 auto;
}


.header__img {
  cursor: pointer;
}

.header__logo__text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu__items {
  width: 684px;
  display: flex;
  justify-content: space-between;
}

.header__menu__item {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.header__menu__item:hover {
  color: #FF6060;
}

.header__burger__menu__img {
  cursor: pointer;
}

.header__burger__menu {
  margin-left: 80px;
}

.hero__content {
  text-align: center;
}

.projects {
  margin-top: 100px;
}

.hero__img {
  max-width: 766px;
  max-height: 625px;
}

.hero__description {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.hero__title {
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: 800;
  color: #E85353;
}

.projects__content {
  text-align: center;
}

.projects__cards {
  display: flex;
  margin-top: 50px;
}

.projects__card__titles {
  text-align: start;
}

.projects__card {
  width: 317px;
  height: 440px;
  border-radius: 8px;
}

.projects__card:hover {
  cursor: pointer;
  width: 317px;
  height: 440px;
  border-radius: 8px;
  background-color: antiquewhite;
}

.projects__cards {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.projects__card__img {
  border-radius: 8px;
}

.projects__card__title {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  color: #E85353;
}

.projects__card__description {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}

.projects__card__btn {
  cursor: pointer;
  margin-top: 10px;
  background: #E85353;
  color: #fff;
  border: transparent none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
}

.projects__card__wrapper {
  padding: 30px;
}

.projects__text {
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 800;
  color: #000000;
}

.about {
  display: flex;
  text-align: center;
  justify-content: center;
}

.about__block {
  display: flex;
  margin-top: 50px;
}


.about__content {
  text-align: center;
}

.about__block {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.about__block__title {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 800;
  color: #000000;
}

.about__block__text {
  font-family: 'Montserrat';
  text-align: start;
  font-size: 18px;
  width: 453.91px;
  font-weight: 600;
  color: #000000;
}

.about__block__description {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}

.about__titles__title {
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 800;
  color: #000000;
}

.about__titles__description {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.about__titles {
  margin: 0 auto;
  width: 588px;
}